# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore Visual Studio Code settings
.vscode/