@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center my-5">
    <h1 class="display-4 mb-4">Welcome to the IPLocationService</h1>
    
    <div class="card p-4 mb-4 shadow-sm">
        <h5>Sample Requests:</h5>
        <ul class="list-unstyled">
            <li>
                <a class="text-primary" target="_blank" href="https://ec2-3-108-254-178.ap-south-1.compute.amazonaws.com/api/location?ip=104.205.186.107">
                    https://ec2-3-108-254-178.ap-south-1.compute.amazonaws.com/api/location?ip=104.205.186.107
                </a>
            </li>
            <li>
                <a class="text-primary" target="_blank" href="https://ec2-3-108-254-178.ap-south-1.compute.amazonaws.com/api/location?ip=181.222.134.160">
                    https://ec2-3-108-254-178.ap-south-1.compute.amazonaws.com/api/location?ip=181.222.134.160
                </a>
            </li>
        </ul>
    </div>

    <div class="card p-4 mb-4 shadow-sm">
        <h5>Expected Response:</h5>
        <pre class="bg-light p-3 rounded border">
{
    "ip": "181.222.134.160",
    "hostname": "b5de86a0.virtua.com.br",
    "city": "Fortaleza",
    "region": "Ceará",
    "country": "BR",
    "loc": "-3.7172,-38.5431",
    "org": "AS28573 Claro NXT Telecomunicacoes Ltda",
    "postal": "60000-000",
    "timezone": "America/Fortaleza"
}
        </pre>
    </div>

    <div class="card p-4 shadow-sm">
        <h5>Additional Resources:</h5>
        <ul class="list-unstyled">
            <li>
                Documentation - 
                <a class="text-primary" target="_blank" href="https://docs.google.com/document/d/1gIQ2j7HvdRVOi8t0--Oz7HenoFlsCUF-Z7kUIbrn-Bg/edit">
                    View Documentation
                </a>
            </li>
            <li>
                Latest Resume - 
                <a class="text-primary" target="_blank" href="https://drive.google.com/file/d/1ELyhLok05EnmQwRXhoeOX9BdBeWobpla/view?usp=sharing">
                    View Resume
                </a>
            </li>
        </ul>
    </div>
</div>
